@charset "utf-8";
/*Header*/
header{width:100%;height:90px;position:fixed;background:#fff;left:0;top:0;z-index:15}
header .logo{position:absolute;left:70px;top:50%;transform:translateY(-50%);z-index:10}
header .logo a{display:block;line-height:0}
header .link{position:absolute;right:70px;top:50%;transform:translateY(-50%);z-index:10}
header .link a{display:inline-block;vertical-align:middle}
header a.lang{color:#767676;position:relative;padding:0 10px;float:left;margin-top:12px}
header a.lang::before{content:'';width:1px;height:2px;background:#e0e0e0;position:absolute;left:0;top:7px}
header a.lang::after{content:'';width:1px;height:2px;background:#e0e0e0;position:absolute;right:0;top:7px}
header a.lang:first-child::before{display:none}
header a.lang:nth-child(3)::after{display:none}
header a.lang.on{color:#101010;font-weight:500}
header a.lang:hover{color:#101010}
header a.mall{margin-left:10px;line-height:38px;font-weight:500;border:1px solid #e0e0e0;border-radius:30px;padding:0 15px;text-align:center;color:#ffb2b8}
header a.mall::after{content:'';width:4px;height:8px;background:url(/images/common/icon_header_shop_arrow.svg) no-repeat;display:inline-block;margin-left:10px;vertical-align:middle;margin-top:-3px}
header .menuBG{width:100%;height:100vh;position:fixed;left:0;top:0;background:rgba(0,0,0,0.5);z-index:8;display:none}
header a.moMenuopen{display:none}
header .mobileGNB{display:none}
header.subHeader::after{content:'';width:100%;height:1px;position:absolute;left:0;bottom:-1px;background:#e0e0e0}
header.subHeader nav dt a{color:#767676}
/*Menu*/
nav{width:100%;height:90px;position:absolute;left:0;top:0;z-index:9;background:#fff;text-align:center;overflow:hidden}
nav .menuList{position:absolute;top:0;z-index:8;left:50%;transform:translateX(-50%)}
nav dl{float:left}
nav dt a{display:block;padding:0 45px;line-height:90px;position:relative;font-weight:500}
nav dt a::after{content:'';width:0;height:2px;position:absolute;left:50%;transform:translateX(-50%);bottom:0;background:#101010;transition:all .3s;-webkit-transition:all .3s}
nav dt a.on{color:#101010!important}
nav dt a.on::after{content:'';width:100%;height:2px;position:absolute;left:50%;transform:translateX(-50%);bottom:0;background:#101010}
nav dt a:hover::after{width:100%}
nav dt a.inPage{color:#101010!important}
nav dt a.inPage::after{content:'';width:100%;height:2px;position:absolute;left:50%;transform:translateX(-50%);bottom:0;background:#101010}
nav dd{display:block;padding-top:48px}
nav dd a{display:block;margin-bottom:15px}
nav dd a span{display:inline-block;line-height:27px;color:#505050;position:relative}
nav dd a span::after{content:'';width:0;height:2px;position:absolute;left:50%;transform:translateX(-50%);bottom:0;background:#101010;transition:all .3s;-webkit-transition:all .3s}
nav dd a:hover span{color:#101010}
nav dd a:hover span::after{width:100%}
nav dd a.inPage span{color:#101010}
nav dd a.inPage span::after{width:100%}
nav .bgLine{width:0;height:1px;background:#e0e0e0;position:absolute;left:50%;transform:translateX(-50%);top:89px;z-index:7;transition:all .3s;-webkit-transition:all .3s}
nav .menuList:hover + .bgLine{width:100%}
/*Common(Layout)*/
#container{width:100%;display:inline-block;position:relative}
section{width:100%;display:inline-block;position:relative}
article{width:1280px;margin:0 auto}
section.content{padding-bottom:200px}
/*Common(Location)*/
.location li{display:inline-block;vertical-align:middle;position:relative;margin-right:12px;color:#767676;padding:20px 23px 20px 0}
.location li:first-child a{width:18px;height:18px;background:url(/images/common/icon_home.svg) no-repeat;text-indent:-99999px;display:inline-block}
.location li::after{content:'';width:6px;height:12px;position:absolute;right:0;top:50%;transform:translateY(-50%);background:url(/images/common/icon_location_arrow.svg) no-repeat}
.location li:last-child{padding-right:0;margin-right:0}
.location li:last-child::after{display:none}
.location li > a{color:#767676}
.location li span.now{color:#101010;font-weight:500;padding-right:20px;position:relative;cursor:pointer}
.location li span.now::after{content:'';width:6px;height:4px;position:absolute;right:0;top:50%;transform:translateY(-50%);background:url(/images/common/icon_location_arrow2.svg) no-repeat;transition:all .3s;-webkit-transition:all .3s}
.location li .dep2List{border:1px solid #e0e0e0;position:absolute;left:50%;transform:translateX(-50%);top:40px;background:#fff;z-index:5;min-width:120px;padding:14px 0;display:none}
.location li .dep2List a{display:block;text-align:center;line-height:32px}
.location li .dep2List a:hover,
.location li .dep2List a.on{background:#f0f0f0;font-weight:500}
.location li span.now.on::after{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}

/*Common(Sub)*/
.sub .subTop{text-align:center}
.sub .subTop article{display:inline-block;text-align:left}
.sub h3.pageTitle{text-align:center;font-size:48px;font-weight:500;margin:75px 0 80px 0}

/*Common - Select*/
select.select{height:46px;border:1px solid #e0e0e0;appearance:none;background:url(/images/common/icon_select_arrow.svg) no-repeat 90% center;padding-left:15px;padding-right:44px;vertical-align:middle}
select.select::-ms-expand{display: none}
select.select.w100{width:100%;background:url(../../images/admin/icon_arrow_down.svg) no-repeat 98% center;}

/*Footer*/
footer{width:100%;padding:58px 70px 40px 70px;background:#101010;position:relative;text-align:center;z-index:6}
footer article{width:1520px;display:inline-block;text-align:left;position:relative}
footer .cmpyInfo{padding-bottom:25px;width:100%;position:relative;border-bottom:1px solid #1d1d1d}
footer .cmpyInfo li{display:inline-block;color:#767676;line-height:25px;position:relative}
footer .cmpyInfo li::after{content:'';width:1px;height:8px;background:#1d1d1d;right:0;top:50%;transform:translateY(-50%);position:absolute}
footer .cmpyInfo li span{padding-right:20px;position:relative}
footer .cmpyInfo li span::after{content:'';position:absolute;right:8px;top:50%;transform:translateY(-50%);height:8px;width:1px;background:#242424}
footer .cmpyInfo li span:last-child::after{background:none}
footer .cmpyInfo li.adr{display:block;padding:0;margin:0}
footer a.contact{width:88px;line-height:34px;background:#292929;color:#767676;right:0;bottom:29px;position:absolute;text-align:center}
footer a.goTop{width:68px;height:68px;position:absolute;right:-80px;bottom:0;text-indent:-9999px;background:#292929 url(/images/common/icon_gotop.svg) no-repeat center center}
footer .copyright{color:#505050;line-height:60px;position:relative}
footer .social{position:absolute;right:0;top:50%;transform:translateY(-50%)}
footer .social li{display:inline-block;position:relative;padding-left:10px;margin-left:10px}
footer .social li::before{content:'';width:1px;height:8px;background:#1d1d1d;left:0;top:50%;transform:translateY(-50%);position:absolute}
footer .social li:first-child::before{display:none}
footer .social li a{color:#505050}
footer .social li a img{margin-right:5px}

/*popup*/
.popupWrap{width:100%;height:100vh;position:fixed;left:0;top:0;z-index:999;background:rgba(0,0,0,0.5)}
.popupWrap .popupData{position:absolute;left:50%;top:50%;transform:translate(-50% , -50%)}
.popupWrap .imgArea a{display:block}
.popupWrap .ctrl{background:#101010;position:relative;height:44px;padding:12px}
.popupWrap .checkBox{display:inline-block;position:relative;height:20px;vertical-align:middle;cursor:pointer}
.popupWrap .checkBox input[type="checkbox"]{position:absolute;left:0;top:0;opacity:0}
.popupWrap .checkBox i{width:20px;height:20px;border:2px solid #e0e0e0;position:absolute;left:0;top:1px;border-radius:2px}
.popupWrap .checkBox label{color:#767676;padding-left:30px;line-height:20px;cursor:pointer;font-size:16px}
.popupWrap .checkBox label:before{content:'';color:#ccc;position:absolute;left:7px;top:4px;width:5px;height:9px;border-right:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg)}
.popupWrap .checkBox input[type="checkbox"]:checked + i{border-color:#fe7986;background:#fe7986}
.popupWrap .checkBox input[type="checkbox"]:checked + i + label:before{border-color:#fff}
.popupWrap .close{position:absolute;right:12px;color:#fff;top:50%;transform:translateY(-50%);font-size:16px}

/*Media Query(for Desktop)*/
@media all and (max-width:1820px){
    footer a.goTop{right:0;bottom:0}
    footer .social{right:100px}
}
@media all and (max-width:1620px){
    header .logo{left:2%}
    header .link{right:2%}
    footer{padding:58px 2% 40px 2%}
    footer article{width:100%}
}
@media all and (max-width:1400px){
    /*Header*/
    header a.mall{line-height:32px;border-radius:32px;padding:0 15px;font-size:12px}
    /*Menu*/
    nav dt a{padding:0 40px}
     /*Common(Sub)*/
    .sub .subTop article{padding:0 2%}
}
@media all and (max-width:1300px){
    /*Menu*/
    nav dt a{padding:0 24px}
}
@media all and (max-width:1280px){
    /*Common(Layout)*/
    article{width:100%;padding:0 2%}
    footer .cmpyInfo ul{width:calc(100% - 100px)}
}
@media all and (max-width:1190px){
    /*Menu*/
    nav dt a{font-size:13px}
    nav dd a{font-size:13px}
}
@media all and (max-width:1190px){
    /*header*/
    header a.lang{margin-top:11px;font-size:12px}
    header a.mall{line-height:28px;border-radius:28px;padding:0 10px}
    /*Menu*/
    nav dt a{font-size:13px}
    nav dd a{font-size:13px}
}
/*Media Query(for Tablet)*/
@media all and (max-width:1024px){
    /*Header*/
    header{height:60px}
    header .logo a img{width:110px}
    header a.mall{line-height:24px;border-radius:24px;font-size:10px}
    header a.mall img{width:14px}
    header a.lang{font-size:10px;padding:0 5px;margin-top:9px}
    header a.lang::before{top:4px}
    header a.lang::after{top:4px}
    /*Menu*/
    nav{height:60px}
    nav dt a{font-size:12px;line-height:60px;padding:0 13px}
    nav dd{padding-top:28px}
    nav dd a{font-size:12px}
    nav dd a:last-child{margin-bottom:0}
    nav .bgLine{top:59px}
    /*Footer*/
    footer{padding:20px 2% 20px 2%}
    footer a.contact{bottom:inherit;top:0}
    footer .cmpyInfo{font-size:12px;padding-bottom:15px}
    footer .cmpyInfo li{line-height:1.8}
    footer .copyright{font-size:12px;line-height:1;padding-top:15px}
    footer .social li a img{height:15px}
    footer a.goTop{width:45px;height:45px;background-size:15px}
}
/*Media Query(for Mobile)*/
@media all and (max-width:812px){
    article{padding:0 4rem}
    /*Header*/
    header{height:11rem}
    header .logo{left:4rem}
    header .logo a{line-height:11rem}
    header .logo a img{width:18rem}
    header .link{right:12rem}
    header .link a.lang{display:none}
    header a.mall{display:none}
    header a.moMenuopen{display:block;position:absolute;right:2.5rem;top:50%;transform:translateY(-50%);padding:1.5rem}
    header a.moMenuopen img{width:4rem}
    header .mobileGNB{display:block;width:69.5%;height:100vh;background:#fff;z-index:17;position:fixed;top:0;right:-100%}
    header .mobileGNB .ctrl{text-align:right;padding:2.5rem 3rem 2.5rem 0;position:relative}
    header .mobileGNB .ctrl a.mall{display:inline-block;white-space: nowrap;margin-left:0;position:absolute;left:4rem;top:3rem;font-size:2.4rem;font-weight:500;line-height:6.2rem;border-radius:6.4rem;padding:0 2rem}
    header .mobileGNB .ctrl a.mall::after{width:0.6rem;height:1.2rem;background:url(/images/common/icon_header_shop_arrow.svg) no-repeat;margin-left:1.6rem;margin-top:-0.5rem;background-size:0.6rem}
    header .mobileGNB a.menuClose{padding:1.5rem;display:inline-block}
    header .mobileGNB a.menuClose img{opacity:0.25;width:2.7rem}
    header .mobileGNB .moMenuList{padding-bottom:4.5rem;overflow-x:hidden;overflow-y:auto}
    header .mobileGNB dt a{display:block;font-size:3.4rem;font-weight:500;padding:4rem 0;text-indent:4rem;position:relative}
    header .mobileGNB dt a::after{content:'';width:1.6rem;height:0.8rem;position:absolute;right:5rem;background:url(/images/common/icon_mobile_menu_down.svg) no-repeat;background-size:1.6rem;top:50%;transform:translateY(-50);transition:all .4s;-webkit-transition:all .4s}
    header .mobileGNB dt a.on::after{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
    header .mobileGNB dd{background:#fafafa;padding:4rem 0;display:none}
    header .mobileGNB dd a{display:block;font-size:2.4rem;padding:4rem 0;color:#505050;text-indent:8rem;background:url(/images/common/icon_mobile_menu_right.svg) no-repeat calc(100% - 5rem) center;background-size:0.8rem}
    header .mobileGNB dd a span{border-bottom:1px solid transparent}
    header .mobileGNB dd a:hover span{color:#101010;border-bottom:1px solid #101010}
    header .mobileGNB dd a.inPage{color:#101010}
    header .mobileGNB dd a.inPage span{padding-bottom:0.5rem;border-bottom:1px solid #101010}
    header .mobileGNB .lang{width:100%;padding:1.5rem 2rem;background:#f0f0f0;position:absolute;right:0;bottom:0}
    header .mobileGNB .lang a{display:inline-block;line-height:6rem;padding-left:3rem;margin-left:2.5rem;font-size:2.4rem;color:#767676;position:relative}
    header .mobileGNB .lang a::before{content:'';width:0.2rem;height:0.2rem;background:#e0e0e0;left:0;top:50%;transform:translateY(-50%);position:absolute}
    header .mobileGNB .lang a.on{color:#101010;font-weight:500}
    header .mobileGNB .lang a:first-child{margin-left:0}
    header .mobileGNB .lang a:first-child::before{display:none}
    header .menuBG{z-index:16}
    /*Menu*/
    nav{display:none}
    /*Common(Location)*/
    .location{display:none}
    /*Common(Layout)*/
    section.content{padding-bottom:20rem}
    /*Common(Sub)*/
    .sub .subTop article{padding:0}
    .sub h3.pageTitle{font-size:4.8rem;margin:10rem 0 8rem 0}
    /*Common - Select*/
    select.select{height:6.4rem;background-size:2rem;padding-left:2rem;padding-right:6.2rem;font-size:2.4rem}
    /*Footer*/
    footer{padding:8rem 4rem 8rem 4rem}
    footer article{padding:0}
    footer .cmpyInfo{font-size:2rem;padding-bottom:4rem}
    footer a.contact{position:static;display:inline-block;width:14.4rem;line-height:6.6rem;font-size:2.4rem}
    footer .cmpyInfo{border-bottom:none;display:inline-block}
    footer .cmpyInfo ul{width:100%;margin-top:3.5rem}
    footer .cmpyInfo li{font-size:2rem}
    footer .cmpyInfo li span::after{height:1.3rem;right:1rem}
    footer .cmpyInfo li span{padding-right:2rem}
    footer .cmpyInfo li.adr span{display:block}
    footer .cmpyInfo li.adr span::after{background:none}
    footer .copyright{padding:0;font-size:2rem}
    footer .social{width:100%;position:static;padding-bottom:5rem;border-bottom:1px solid #1d1d1d;display:inline-block;transform:none;margin-bottom:5rem}
    footer .social li{padding-left:1.6rem;margin-left:1.6rem}
    footer .social li:first-child{margin-left:0;padding-left:0}
    footer .social li a{font-size:2rem}
    footer .social li a img{height:2.4rem;margin-right:1rem;vertical-align:sub}
    footer .social li::before{height:1.2rem}
    footer a.goTop{bottom:0;width:7.8rem;height:7.8rem;background-size:2.4rem}
    /*popup*/
    .popupWrap .popupData{width:80%}
    .popupWrap .imgArea img{width:100%}
    .popupWrap .ctrl{height:auto;padding:1.6rem}
    .popupWrap .checkBox{height:3.2rem}
    .popupWrap .checkBox i{width:3.2rem;height:3.2rem;top:0}
    .popupWrap .checkBox label{padding-left:4.2rem;line-height:3.2rem;font-size:2.4rem}
    .popupWrap .checkBox label:before{left:1rem;top:0.6rem;width:0.8rem;height:1.2rem}
    .popupWrap .close{right:1.6rem;color:#fff;font-size:2.4rem}
    .popupWrap .close img{height:1.5rem;vertical-align:inherit}
}